{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head_ex %}
    <script type="text/javascript" src="/static/js/lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jszip.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
{% endblock %}

{% block content  %}

{% include "mails/left_menu.html" %}

<div class="col-lg-10">
    <br/>
    <div class="list-group">
        {% for message in messages %}
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">{{ message.id }}</h4>
            <p class="list-group-item-text">
                {{ message.data }}
            </p>
        </a>
        {% endfor %}
    </div>
    <!--<input type="file" id="file" name="file" multiple />-->
    <!--<h2>Content :</h2>-->
    <!--<div id="result"></div>-->

</div>

{% endblock %}