{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Авторизація</title>
    <link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="col-lg-3"></div>
<form class="col-lg-6" method="post" action="{% url 'auth' %}">
    {% csrf_token %}
    <h1 align="center" class="text-warning">Authorization</h1>
    <div class="form-group">
        <label for="username" class="col-lg-2 control-label text-warning">Login</label>
        <div class="col-lg-8">
            <input type="text" class="form-control text-warning" id="username" placeholder="Login" name="username" required autofocus/>
        </div>
    </div>
    <br/><br/>
    <div class="form-group">
        <label for="password" class="col-lg-2 control-label text-warning">Password</label>
        <div class="col-lg-8">
            <input type="password" class="form-control text-warning" id="password" name="password" placeholder="Password"/>
        </div>
    </div>
    <br/><br/>
    <div class="form-group">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <input type="submit" class="btn btn-warning col-lg-12"  value="Enter" />
        </div>
    </div>
</form>
</body>
</html>