{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}Main -{% endblock %} AndroidOK</title>
    <link href="/static/vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/my.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>

    {% block head_ex %}{% endblock %}
</head>

<body>
    {% include 'elements/top_menu.html' %}
    {% block content %}{% endblock %}
</body>
</html>